<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Внести на счет<br></h1>
<h2>Введите сумму, дату<br></h2>


<form  th:action="@{/deposit}" method="post">
    <span>Сумма</span>
    <input type="text" th:field="*{transactions.Sum_Transaction}"/>
    </p>
    <span>Дата</span>
    <input type="text" th:field="*{transactions.Data_Transaction}"/>
    </p>
    <span>Подтвердите(введите номер счета)</span>
    <input type="text" th:field="*{bills.Num_Bill}"/>
    </p>
    <button class="btn btn-secondary btn-sm" type="submit">Подтвердить внесение средств</button>
</form>
</p>

<a href="/mini-bank/main" class="btn btn-secondary btn-sm" type="submit">Вернуться на главную</a>
</body>
</html>