<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<h1>Открыть новый счет<br></h1>
<h2>Введите Фамилию, серию и номер паспорта, сумму , Дату открытия<br></h2>


<form  th:action="@{/newBill}"  method="post">
    <span>ФИО</span>
    <input type="text" th:field="*{client.Name}"/>
    </p>
    <span>Серия паспорта</span>
    <input type="text" th:field="*{client.Pasport_Serial}"/>
    </p>
    <span>Номер паспорта</span>
    <input type="text" th:field="*{client.Pasport_Number}"/>
    </p>
    <span>Сумма</span>
    <input type="text" th:field="*{bills.Sum_Bills}"/>
    </p>
    <span>Дата открытия</span>
    <input type="text" th:field="*{bills.Data_Begin}"/>
    </p>
    <button class="btn btn-secondary btn-sm" type="submit">Создать счет</button>
</form>
</p>


<a href="/mini-bank/main" class="btn btn-secondary btn-sm" type="submit">Вернуться на главную</a>

</body>
</html>