<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Клиент<br></h1>
<span>Открыть счет<br> </span>

<form  th:action="@{/openBill}"  method="post">
    <span>ФИО</span>
    <input type="text" th:field="*{client.Name}"/>
    </p>
    <span>Серия паспорта</span>
    <input type="text" th:field="*{client.Pasport_Serial}"/>
    </p>
    <span>Номер паспорта</span>
    <input type="text" th:field="*{client.Pasport_Number}"/>
    </p>
    <span>Номер счета</span>
    <input type="text" th:field="*{bills.Num_Bill}"/>
    </p>

    <button class="btn btn-secondary btn-sm" type="submit">Открыть</button>
</form>
</p>
<a href="/mini-bank/main" class="btn btn-secondary btn-sm" type="submit">Вернуться на главную</a>

</body>
</html>